{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

    <div class="project-related-pages content-widget-hr">
      {{ $allitems := .Data.Pages }}

      {{ $items := where $allitems "Type" "publication" }}
      {{ $items = where $items ".Params.draft_paper" "!=" true }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "publications") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.publication_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.publication_view 3 }}
            {{ partial "li_card" . }}
          {{ else if eq site.Params.projects.publication_view 4 }}
            {{ partial "li_citation" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $items := where $allitems "Type" "post" }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
        <h2>{{ (i18n "posts") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.post_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.post_view 3 }}
            {{ partial "li_card" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{/*
            {{ $items := where $allitems "Type" "publication" }}
            {{ $items = where $items.ByLastmod.Reverse ".Params.draft_paper" true}}
            {{ $pubs_len := len $items }}
            {{ if ge $pubs_len 1 }}
              <h2>{{ (i18n "drafts") }}</h2>
              {{ range $items }}
                {{ if eq site.Params.projects.publication_view 1 }}
                  {{ partial "li_list" . }}
                {{ else if eq site.Params.projects.publication_view 3 }}
                  {{ partial "li_card" . }}
                {{ else if eq site.Params.projects.publication_view 4 }}
                  {{ partial "li_citation" . }}
                {{ else }}
                  {{ partial "li_compact" . }}
                {{ end }}
              {{ end }}
            {{ end }}
      */}}


      {{ $items := where $allitems "Type" "talk" }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
        <h2>{{ (i18n "talks") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.talk_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.talk_view 3 }}
            {{ partial "li_card" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}


      {{ $items := where $allitems "Type" "publication" }}
      {{ $items = where $items.ByLastmod.Reverse ".Params.draft_paper" true}}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "drafts") }}</h2>
        <p>
        I have some drafts on these topics. For more details, <a href="mailto:catrin@ccampbell-moore.com"> email me</a>.
        </p>
        {{ range $items }}
            {{ partial "li_card" . }}
        {{ end }}
      {{ end }}


    </div>

</div>

{{- end -}}
