{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  {{ with .Content }}
  <div class="article-style">{{ . }}</div>
  {{ end }}

  <div id="container-publications">

  {{ $paginator := .Paginate (where (where site.RegularPages.ByLastmod.Reverse "Type" "publication") "Params.draft_paper" true) }}
  {{ range $paginator.Pages }}

  <div class="grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">


      {{ partial "li_card_show_draft_links" . }}


  </div>
  {{ end }}


  {{ partial "pagination" . }}

</div>

</div>

{{- end -}}
